       /*Aprobacion de acceso al sistema*/
       .status-card-success {
            max-width: 500px; 
            width: 100%;
            border-top: 6px solid #28a745; 
            padding: 40px !important;
            text-align: center;
            flex-direction: column !important; 
        }
        .icon-circle-success {
            width: 80px; 
            height: 80px;
            background-color: #d4edda; 
            color: #28a745; 
            border-radius: 50%;
            display: flex; 
            align-items: center; 
            justify-content: center;
            font-size: 40px; 
            margin: 0 auto 20px;
        }
        .logo-small {
            width: 70px;
            margin-bottom: 20px;
        }

        /*Acceso negado al sistema*/
            .status-card-error {
                max-width: 500px; width: 100%;
                border-top: 6px solid #dc3545;
                padding: 40px !important;
                text-align: center;
                flex-direction: column !important;
            }
            .icon-circle-error {
                width: 80px; height: 80px;
                background-color: #f8d7da;
                color: #dc3545;
                border-radius: 50%;
                display: flex; align-items: center; justify-content: center;
                font-size: 40px; margin: 0 auto 20px;
            }