#header{
    text-align: center;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s ease;
    background: #4a90e2;
    color: white;
    z-index: 1050; /* Asegura que siempre esté por encima del contenido */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

#sidebar .nav-link:hover {
    background: #34495e;
    color: white;
}

.nav-link.current-page {
    display: none !important;
}

#content {
    width: 100%;
}

/* =========================================
   MEDIA QUERIES (MAGIA PARA CELULARES) 
   ========================================= */
@media (max-width: 768px) {
    #sidebar {
        position: fixed; /* Se superpone al resto de la página */
        top: 0;
        left: 0;
        height: 100%;
        margin-left: -250px; /* Oculto por defecto en el celular */
        box-shadow: 5px 0 15px rgba(0,0,0,0.5); /* Sombra para que resalte al abrirse */
    }

    /* Esta es la clase que el Javascript le pondrá al tocar la hamburguesa */
    #sidebar.abierto-movil {
        margin-left: 0; 
    }
}